<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Member</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
 <div class="container">
    <div class="company">
        <h1>VeriTech</h1>
            <p>Welcome to VeriTech,where a dedicated team of professionals works together to bring innovation,creativity and expertise to software industry.get to know the indivisuals who make our company thrive. </p>
        </div>
    <div class="heading">
        <h2>Meet Our Team</h2>
    </div>
    <div class="Team">
        <h2>Leadership/Management Team</h2>
    </div>
    <div class="main-box inner flex">
        <div class="team-warp">
            <div class="team-member text-center">
                <div class="team-img">
                    <img src="/static/images/team member image 1.jpg" alt="">
                    <div class="overlay">
                    <div class=".socials mt-20">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-envelope"></span></a>
                    </div>
                    </div>
                </div>
                <h6 class="team-title">John Marshall</h6>
                <span>Founder/CEO</span>
            </div>
        </div>

        <!--end team member-->

        <div class="team-warp">
            <div class="team-member text-center">
                <div class="team-img2">
                    <img src="/static/images/team member image 2.jpg" alt="">
                    <div class="overlay">
                    <div class=".socials mt-20">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-envelope"></span></a>
                    </div>
                    </div>
                </div>
                <h6 class="team-title">Sradhanjali</h6>
                <span>Founder/CEO</span>
            </div>
        </div>
        <!--end team member-->

        <div class="team-warp">
            <div class="team-member text-center">
                <div class="team-img3">
                    <img src="/static/images/team member image 3.jpg" alt="">
                    <div class="overlay">
                    <div class=".socials mt-20">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-envelope"></span></a>
                    </div>
                    </div>
                </div>
                <h6 class="team-title">Mrutyunjaya</h6>
                <span>Founder/CEO</span>
            </div>
        </div>
        <!--end team member-->
    </div>
 </div> 
 <div class="Team-devlopment">
    <h2>Devlopment Team</h2>
</div>
<div class="main-box inner flex">
    <div class="team-warp">
        <div class="team-member text-center">
            <div class="team-img4">
                <img src="/static/images/team member image 4.jpg" alt="">
                <div class="overlay">
                <div class=".socials mt-20">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                    <a href="#"><span class="fa fa-envelope"></span></a>
                </div>
                </div>
            </div>
            <h6 class="team-title">Leo Tunguru</h6>
            <span>Team Lead,SE</span>
        </div>
    </div>

    <!--end team member-->

    <div class="team-warp">
        <div class="team-member text-center">
            <div class="team-img5">
                <img src="/static/images/team member image 5.jpg" alt="">
                <div class="overlay">
                <div class=".socials mt-20">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                    <a href="#"><span class="fa fa-envelope"></span></a>
                </div>
                </div>
            </div>
            <h6 class="team-title">Kahnu Mishra</h6>
            <span>Software Engineer</span>
        </div>
    </div>
    <!--end team member-->

    <div class="team-warp">
        <div class="team-member text-center">
            <div class="team-img6">
                <img src="/static/images/team member image 6.jpeg" alt="">
                <div class="overlay">
                <div class=".socials mt-20">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                    <a href="#"><span class="fa fa-envelope"></span></a>
                </div>
                </div>
            </div>
            <h6 class="team-title">Siba naik</h6>
            <span>Software Engineer</span>
        </div>
    </div>
    <!--end team member-->

    <div class="team-warp">
            <div class="team-member text-center">
                <div class="team-img">
                    <img src="/static/images/team member image 7.jpg" alt="">
                    <div class="overlay">
                    <div class=".socials mt-20">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-envelope"></span></a>
                    </div>
                    </div>
                </div>
                <h6 class="team-title">Dipanjali</h6>
                <span>Software Engineer</span>
            </div>
        </div>

        <!--end team member-->
        
</div>
</div>  
</body>
</html>